---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <div class="container mx-auto max-w-4xl">
    <div class="my-8">
      <h2 class="font-bold">
        <a href="/"> {SITE_TITLE}</a>
      </h2>
    </div>

    <!-- <nav class="my-4 flex gap-8">
      <HeaderLink href="/">All posts</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </nav> -->
  </div>
</header>
